.container  {
    position: relative;
    padding-bottom: 40px;
}
.price-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 0 15px;
}
h6{
    text-align: center;
    font-size: larger;
    color: #7a0744;
}

.text{
    color: grey;
    text-align: center;
}
p{
    color: grey;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-content: center;
}
.card:hover{
    cursor: pointer;
    border: 2px solid rgba(255, 192, 203, 0.88);
    box-shadow: 0px 0px 7px 0px rgba(220, 135, 149, 0.63);
}
.card .card-header{
    background-color: rgb(236 56 162 / 40%);
}
.card .card-header{
    color: #7a0744;
}
.card .card-body{
    color: #7a0744;
}
.book-info{
    display: none;
}
.hidden{
    display: none !important;
}
.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.card span{
    color: grey;
}
.total-info{
    display: none;
}
.d-grid{
    width: 100%;
}
.d-grid .btn-primary{
    width: 100%;
    background-color: pink;
    border: none;
    display: none;
}
.d-grid .btn-primary:focus{
    background-color: rgba(255, 20, 147, 0.8);
    border: none;
}
.form-control:focus {
    border-color: rgba(255, 192, 203, 0.88);
    box-shadow: 0 0 0 .1rem rgb(197, 57, 197);
}
.book-info{
    margin-left: 10%;
    margin-right: 10% ;
}



