.card-body {
    position: relative;
    height: 100%;
}
.price-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 0 15px;
}
h6{
    text-align: center;
    font-size: larger;
    color: #c539c5;
}

.text{
    color: grey;
    text-align: center;
}
p{
    color: grey;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    justify-content: center;
}
.card:hover{
    cursor: pointer;
    border: 2px solid rgba(255, 192, 203, 0.88);
    box-shadow: 0px 0px 7px 0px rgba(220, 135, 149, 0.63);
}
.card .card-header{
    background-color: rgba(255, 192, 203, 0.82);
}
.card .card-header{
    color: #c539c5;
}
.card .card-body{
    color: #c539c5;
}
.book-info{
    display: none;
}
.hidden{
    display: none !important;
}

