.nav-pills .nav-link.active {
    background-color: pink;
    color: white;
}
.nav-pills .nav-item:not(:first-child) .nav-link {
    color: pink;
}
.nav-pills button{
    gap: 1%;
    margin: 2px;
}
.nav-pills button:hover{
    background: rgba(236, 206, 211, 0.71);
}
.nav-pills .nav-link.active.login:hover,
.nav-pills .nav-item .nav-link:hover{
    color: deeppink;
}

.nav-pills .nav-link.active.login{
    color: white;
}
